body{
    display: block;
    position: relative;
    font-size: 40px;
    margin: 10px
}
nav{
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.7rem;
}
img[alt='north-pole']{
    display: inline-block;
    position: absolute;
    top: 3em;
    left: .5em;
    width: 9em;
    height: 9em;
    border: 2px dashed #e5e5e5;
}